<div class="header-wrap">
  <div class="header">
    <nav class="nav">
      <a class="link" routerLink="/publication">
        Publication
      </a>
    </nav>
    <a nz-button nzType="primary" [routerLink]="['/publication', 'settings']">
      <span>Settings</span>
    </a>
    <button nz-button nzType="default" nzDanger (click)="reset()">
      <span>Reset</span>
    </button>
    <button nz-button nzType="primary" nzDanger (click)="logout()">
      <span>Logout</span>
    </button>
  </div>
</div>
